body > div.body-item.main > div.main-item.find-password {
    width: 25rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

body > div.body-item.main > div.main-item.find-password > h1.find-password-item.title {
    cursor: default;
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
    position: relative;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > *.form-item:not(:last-child) {
    margin-bottom: 0.625rem;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label {
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label.horizontal {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label.horizontal > * {
    flex: 1;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label.horizontal > *:not(:last-child) {
    margin-right: 0.75rem;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label > input.label-item[type=text],
body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > label.form-item.label > select.label-item {
    width: 100%;
    position: relative;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > input.form-item.button {
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > div.form-item.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > div.form-item.buttons > input.buttons-item {
    flex: 1;
    padding: 1rem 3rem;
}

body > div.body-item.main > div.main-item.find-password > form.find-password-item.form > div.form-item.buttons > input.buttons-item:not(:last-child) {
    margin-right: 1.25rem;
}